<!-- <mat-toolbar color="primary">
    <span>VSM Rules Editor</span>
    <span class="spacer"></span>
   <button mat-icon-button (click)="refresh()">
      <mat-icon>refresh</mat-icon>
    </button> 
  </mat-toolbar> -->
  <div class="nav nav-pills">
 
   <a routerLink="/antiPatternRules" routerLinkActive="active" >Anti-Pattern Rules</a>
   <a routerLink="/antiPatternRulesMaster" routerLinkActive="active">Anti-Pattern Master</a>
  
  <router-outlet></router-outlet>
</div>
  <!-- <div style="padding-top:20px">
    <router-outlet></router-outlet>
  </div> -->